# Server Configuration
PORT=5000

# Database Configuration
# Local Example: mongodb://localhost:27017/blindvault
# Production Atlas Example: mongodb+srv://<user>:<pwd>@cluster.mongodb.net/blindvault?retryWrites=true&w=majority
MONGO_URI=mongodb://localhost:27017/blindvault

# (Optional) ZKP Proof Constants can be added here if server-side hashing parameters change
